.post {
    max-width: 700px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 40px;
}

.post__img {
    object-fit: contain;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.post_text {
    font-weight: normal;
    padding: 10px;
}
  
.post__header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post__avatar {
    margin-right: 10px;
}


.post__commentBox {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.post__input {
    flex: 1;
    margin: 5px;
    padding: 5px;
}

.post__sendBtn {
    flex: 0;
    margin-top: 5px;
    padding: 5px;
}

.post__comments {
    padding: 20px;
}